h1{
    font-size: 50px;
    color: black;    
}



.right {
    width: 50%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left {
    width: 50%;
    background-color: rgb(0, 68, 255);
    background-image: url('lady.jpg');
    background-size: cover;
}


